@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

:root {
    font-family: 'Alegreya Sans', serif;
    --forest-light: #6E7063;
    --forest-dark: #595C4F;
    --sand-light: #F1ECE6;
    --sand-dark: #D6CCBC;
    --coffee-light: #613A1D;
    --coffee-dark: #422F26;
}

body {
    background-color: var(--forest-light);
}

.content_container {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    height: 100vh;
}

@media (max-width: 600px) {
    .content_container {
        width: 90%;
    }
}

@media (max-height: 600px) {
    .content_container {
        height: 100%;
    }
}

.business_logo {
    width: 28rem;
}

@media (max-width: 600px) {
    .business_logo {
        width: 20rem;
    }
}

.links_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 0.85rem 1rem 0.85rem 1rem;
    background-color: var(--sand-light);
    border-radius: 1rem;
    border: 2px solid var(--sand-dark);
    transition: all ease 0.1s;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.link:hover {
    transform: scale(1.025);
}

.link_text {
    margin: 0;
    padding: 0;
    font-weight: 500;
    opacity: 60%;
    font-size: 1.1rem;
}

.link_icon {
    width: 2rem;
    height: 2rem;
    position: absolute;
    left: 0.5rem;
    bottom: 0.48rem;
}

.small_business_logo {
    width: 5rem;
    margin-top: 4rem;
}

#disabled {
    opacity: 0.6;
    cursor: not-allowed;
    transition: none;
    pointer-events: none;
}

