@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

:root {
    font-family: 'Alegreya Sans', serif;
    --forest-light: #6E7063;
    --forest-dark: #595C4F;
    --sand-light: #F1ECE6;
    --sand-dark: #D6CCBC;
    --coffee-light: #613A1D;
    --coffee-dark: #422F26;
}